.container {
  color: white;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  margin-top: 3rem;
}
.title {
  margin: 0;
}

.poster {
  height: 32rem;
}

.genres {
  list-style: none;
  padding: 0;
}

.right {
  padding-left: 2rem;
  width: 44rem;
  font-size: 1.3rem;
}
.top {
  display: flex;
  .title {
    margin-right: 0.9rem;
  }
}

.genres {
  display: flex;
  gap: 1rem;
}
.genre {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.middle {
  display: flex;
  align-items: center;
  margin-bottom: 2.7rem;
}

.rate {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.overview {
  line-height: 2.4rem;
}
