.link {
  text-decoration: none;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  .title {
    color: white;
  }

  .likeButton {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
  }
}
